/* Wildcard selector to remove any browser fotmatting */
* {
    padding: 0;
    margin: 0;
    
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-size: 2.5rem;
    padding: 1rem .5rem;
    display: flex;
    justify-content: center;
}

.mainArea {
    display: flex;
    justify-content: center;
}

.enterAmount {
    font-size: 1.5rem;
   display: block;
}

.convertArea {
    display: flex;
}

