/* Wildcard selector to remove any browser fotmatting */
* {
    padding: 0;
    margin: 0;

}

/* General formatting */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
label {
    color: rgb(55, 51, 51);
}

.mainArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    background-color: lightblue;
    height: auto;
    padding: 0 150px;

}

input,
select {
    height: 3em;
    border-radius: 10px;
    border-width: 2px;
}

.header {
    font-size: 2.5rem;
    padding: 1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 2rem;
    margin: 1rem;
}



.enterAmount {
    padding: 3rem 0;
    border-radius: 10px;
    height: 2em;
}

.space {
    padding-left: 10px;
}

.finalAmount {
    margin-bottom: 100px;
}

#amount-entered,
#converted-amount {
    width: 600px;
}

.convertArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    height: 4em;
}

.convertArea select {
    width: 250px;
}

.button-container {
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.btn-convert {
    width: 250px;
    height: 2em;
    border-radius: 10px;
    margin: 4rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: rgb(34, 63, 62);
    color: white;
}

button:hover {
    background-color: white;
    color: rgb(34, 63, 62);
}
button:hover {
    background-color: white;
    color: rgb(34, 63, 62);
}


@media (max-width: 650px) {

    #amount-entered,
    #converted-amount {
        width: 400px;
    }

    .convertArea {
        width: 400px;
        height: 2em;
    }

    .convertArea select {
        width: 150px;
    }

    .button-container {
        width: 400px;
    }

    .btn-convert {
        width: 150px;
        height: 2em;
        border-radius: 10px;
        margin: 4rem 0;
        font-size: 1.5rem;
        font-weight: 400;
    }


}

@media (max-width: 450px) {

    #amount-entered,
    #converted-amount {
        width: 300px;
    }

    .convertArea {
        width: 300px;
        height: 2em;
    }

    .convertArea select {
        width: 100px;
    }

    .button-container {
        width: 300px;
    }

    .btn-convert {
        width: 100px;
        height: 2em;
        border-radius: 10px;
        margin: 4rem 0;
        font-size: 1.5rem;
        font-weight: 400;
    }

}


