/* Global */
body {
    background-image: url(..images/bg-img.webp);
    width: 80%;
    height: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
}

label {
    font-size: 2rem;
}

.header {
    text-align: center;
}

.enterAmount {
    text-align: center;
     }

